:root {
    --color-black: #212121;
    --color-sub-black: #373737;
    --color-grey: #575757;
    --color-white: #ffffff;
    --color-green: #a7d535;
    --color-light-green: #f1ffcf;
    --color-light-grey: #dadada;
}
