.choice-costume-slider {
    .swiper-slide {
        transform: scale(0.55) !important;
        transition: transform 300ms ease-out;
    }

    .swiper-slide-active {
        transform: scale(1) !important;
    }
}

.choice-scene-slider {
    .swiper-slide {
        transform: scale(0.55) !important;
        transition: transform 300ms ease-out;
    }

    .swiper-slide-active {
        transform: scale(1) !important;
    }
}
