.choiceScene {
    .titleWrap {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        padding: 60px 96px 0 96px;

        h2 {
            color: var(--color-white);
        }

        .button {
            width: 408px;
            height: 80px;
            font-size: 24px;
        }
    }

    .sliderWrap {
        position: absolute;
        left: calc(50% - 655px);
        bottom: 38px;
        width: 100%;
        max-width: 1310px;

        .slide {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 554px;
                height: 988px;
                border-radius: 24px;
                will-change: transform;
            }
        }
    }

    .buttonsWrap {
        position: absolute;
        left: calc(50% - 444px);
        bottom: 75px;
        width: 888px;
        z-index: 1;

        display: flex;
        background-color: #f1ffcf80;
        border-radius: 24px;
        padding: 6px;
        gap: 16px;

        button {
            flex: 1;
        }

        .prev {
            font-size: 20px;
        }
    }
}

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h2 {
    }

    .descriptionWrap {
        display: flex;
        align-items: center;
        gap: 40px;

        ol {
            display: flex;
            flex-direction: column;
            gap: 16px;

            padding-left: 36px;
            font-size: 32px;
            color: var(--color-sub-black);
        }

        p {
            font-size: 32px;
            line-height: 1.2;
            color: var(--color-sub-black);
            max-width: 450px;
        }

        svg {
            min-width: 216px;
            min-height: 216px;
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        gap: 16px;
    }
}
