.choiceCostume {
    .titleWrap {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        padding: 60px 96px 0 96px;

        h2 {
            color: var(--color-white);
        }

        .button {
            width: 408px;
        }
    }

    .sliderWrap {
        position: absolute;
        bottom: 38px;
        left: calc(50% - 609px);
        width: 1218px;

        .slide {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 554px;
                height: 988px;
                will-change: transform;
            }
        }
    }

    .buttonsWrap {
        position: absolute;
        left: calc(50% - 444px);
        bottom: 75px;
        width: 888px;
        z-index: 1;

        display: flex;
        align-content: center;
        background-color: #f1ffcf80;
        border-radius: 24px;
        padding: 6px;
        gap: 16px;

        button {
            flex: 1;
        }

        .prev,
        .next {
            font-size: 20px;
        }
    }
}
