.mainScreensaver {
    position: relative;
    width: 100vw;
    height: 100vh;

    video {
        width: 100vw;
        height: 100vh;
    }

    h1 {
        position: absolute;
        left: calc(50% - 825px);
        bottom: 325px;

        color: var(--color-white);
        text-align: center;
        width: 1650px;
    }
}
